/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */


html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #1e1332;
}

.footer-container,
.main aside {
    border-top: 20px solid #1e1332;
}

.header-container,
.footer-container,
.main aside {
    background: #6441a5;
}

.title {
    color: white;
    text-align: center;
    font-family: 'bevan';
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 5px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #1e1332;
    /*1e1332*/
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
    bottom: 0px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.Stream {
    
    /*position: absolute;
    top: 100px;
    left: 270px;*/
    display: inline-block;
    padding: 10px;
    width: 620px;
    
}

.HitboxVideo {

}

.HitboxChat {
 
    display: none;
    
}

.StreamVidOptions {
    
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2px;
}

.StreamChatOptions {
    
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2px;
}


.TwitterTLDiv {
    
    /*position: absolute;
    top: 100px;
    left: 10px;*/
    
    display: inline-block;
    padding: 10px;
    width: 220px;
    height: 720px;
    vertical-align: top;
    
}

.Navigation {
 
    display: inline-block;
    padding: 10px;
    width: 120px;
    height: 400px;
    vertical-align: top;
    
}

.Navigation ul {
 
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.Navigation ul li:last-child {
  border: none;
}

.Navigation ul li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.Navigation ul li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 120px;
    font: bevran;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
li a:hover {
  font-size: 25px;
  
}

.ytlink:hover {
    background: white;   
}

.ytlink:hover .yttxt {
    background: #cc181e;
    color: white;
    padding: 2px;
    border-radius:10px;
}

.twlink:hover .twtxt {
    color: white;
    text-shadow: 1px 2px 8px #6441a5;
}
.twlink:hover {
    color: white;
    background: #6441a5;
}

.hilink:hover {
    color: #718e22;
    font: 30px;
}
.zalink:hover {
    color: white;
    text-shadow: 2px 2px 5px red;
    background-color: #ffa128;
}

/* color google logo*/
.golink:hover .gtxt1 {
    color: #176dee; 
}
.golink:hover .gtxt2 {
    color: #da4631; 
}
.golink:hover .gtxt3 {
    color: #ffba02; 
}
.golink:hover .gtxt4 {
    color: #009856; 
}

.fblink:hover {
    background: #3b5998;
    color: white;
}
.ttlink:hover {
    background: #8ec1da;
    color: white;
    text-shadow: 2px 2px 7px white;
}
.stlink:hover {
    background: #6b6765;
    color: #b3b2af;
    text-shadow: 2px 2px 10px black;
}
.ralink:hover {
    background: #333333;
    color: #b2b4b4;
}

.ralink:hover .ratxt {
    color: #ff9f35;   
}

.bllink:hover {
    
 background-color: #1e8cbe; 
 color: white;
 text-shadow: 2px 2px 10px black;  
}


.main-container {
 
    text-align: center;
    
    /*min-width: 839px;*/
}

.addthis_toolbox {
      
    
}

.addthis_floating_style {
    
    
    
}

.addthis_32x32_style {
    
    margin-left: 40px;
    margin-top: 20px;
    top: 400px;
    position: absolute;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: ;
        margin: 0 1.7%;
        padding: 4px 2%;
        margin-bottom: 0;
        margin-top: px;
        background-color: #6441a5;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media all and (max-width: 1083px) {
  .TwitterTLDiv { display: none; }
}

@media all and (max-width: 798px) {
  .Navigation { display: none; }
  
    .addthis_32x32_style {
        display: none;
    }
  .addthis_toolbox addthis_floating_style {
        display: none;
    }
    
    titletxt {
     
        color: white;
        
    }
    
    .titletxt:hover {
        text-decoration: none;
        color: white;
    }    
    
    .titletxt:link {
        text-decoration: none;
        color: white;
    }    
    
    .titletxt:active {
        text-decoration: none;
        color: white;
    }    
    
    .titletxt:active {
        text-decoration: none;
        color: white;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }    
    
    .titletxt {
    
        color: white;
        
    }
    
    .titletxt:hover {
        text-decoration: none;
        color: white;
    }    
    
    .titletxt:link {
        text-decoration: none;
        color: white;
    }    
    
    .titletxt:active {
        text-decoration: none;
        color: white;
    }    
    
    .titletxt:active {
        text-decoration: none;
        color: white;
    }

    nav {
        float: right;
        width: 48%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    
    
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}